.root {
    -fx-background-color: white;
    -fx-font-family: 'Aptos';
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-font-weight: normal;
}

.buttonStyle {
    -fx-font-size: 20px;
    -fx-background-color: #555;
    -fx-text-fill: yellow;
}

.grouplabel {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.mainMenuLabel {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10 0 20 0;
}

.button {
    -fx-font-size: 14px;
    -fx-padding: 8 12;
}

.authorsLabel {
    -fx-font-size: 12px;
    -fx-text-fill: gray;
}

.exitLabel {
    -fx-font-size: 20px;
}

.gridpane {
    -fx-background-color: white;
}

.hbox {
    -fx-alignment: center-left;
}

.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-background-color: white;
    -fx-border-color: transparent;
}

.table-view.table-row-cell:filled:hover {
    -fx-background-color: transparent;
}

.table-view.table-column-cell:filled:hover {
    -fx-background-color: transparent;
}

.playTitle {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.pauseLabel {
    -fx-font-size: 14px;
    -fx-alignment: center;
}

.tetrisBoard {
    -fx-background-color: white;
    -fx-border-color: black;
}

.gridLine {
    -fx-stroke: lightgray;
}

.backBar {
    -fx-padding: 6 0 6 0;
    -fx-alignment: center;
}

.authorFooter {
    -fx-font-size: 12px;
    -fx-text-fill: gray;
}

.gameOverLabel {
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-alignment: center;
    -fx-font-weight: bold;
}

.scoresLabel {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.configLabel {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}